<div class="page-header">
    <h1>Task Board <small>Drag and drop task to change their status</small></h1>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <button type="button" class="btn btn-info" aria-label="Left Align" ng-click="toggleModal()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tasks
        </button>
    </div>
    <div class="panel-body">

        <div class="tasks col-md-12">
            <div class="row tasks">
                <div ng-repeat="list in model.list track by $index" class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{list.listName}}</h3>
                        </div>
                        <div class="panel-body">
                            <ul dnd-list dnd-drop="onDrop(list, item, index)">
                                <li ng-repeat="item in list.items"
                                    dnd-draggable="item"
                                    dnd-dragstart="onDragstart(list, event)"
                                    dnd-moved="onMoved(list,$index)"
                                    dnd-dragend="list.dragging = false"
                                    dnd-selected="model.selected = item"
                                     ng-class="{'selected': model.selected === item}"
                                    >
                                    {{item.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal title="Add new task" visible="showModal">
            <form role="form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input ng-model="task.title" type="text" class="form-control" id="text" placeholder="Title" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input ng-model="task.description" type="text" class="form-control" id="description" placeholder="Description" />
                </div>
                <button type="submit" class="btn btn-default" ng-click="addTask(task)">Submit</button>
            </form>
        </modal>
    </div>
</div>

